/* For small desktops, 1350px or less */

@media (max-width: 84em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 38%;
  }
}

@media (max-width: 40.625em) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 38.125em) {
  html {
    font-size: 30%;
  }
  .search-space {
    background-color: #f6f5f3;
    width: 77.79%;
    height: 100%;
    border: none;
    font-size: 10px;

    color: #615f62;
  }
  .search-space::placeholder {
    font-weight: 540;
    letter-spacing: 0.5px;
    color: #615f62;
  }
}
@media (max-width: 30.625em) {
  html {
    font-size: 28%;
  }

  .search-space {
    background-color: #f6f5f3;
    width: 77.79%;
    height: 100%;
    border: none;
    font-size: 8px;
  }
}
